<body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>CRM PROJECT</header>
      <a routerLink="product" class="active"><i class="fas fa-qrcode"></i><span>Product</span></a>
      <a routerLink="sale"><i class="fas fa-link"></i><span>Sale</span></a>
      <a routerLink="invoice"><i class="fas fa-stream"></i> <span>Invoice</span> </a>
      <a routerLink="client"><i class="fas fa-calendar"></i><span>Client</span></a>
    </div>
</body>
